<div class="">
    <div class="rhc-partial-container">
        
        <div class="rhc-error-message" ng-bind="lvm.listErrorMessage"></div>
		
		<!-- Table -->
		<div class="rhc-table" ng-if="lvm.alcoholLevelRecords.length>0">
			<!-- Table titles -->
			<div class="rhc-table-row rhc-table-header-row">
				<div class="rhc-table-cell">Sender</div>
				<div class="rhc-table-cell">Message</div>
				<div class="rhc-table-cell">Created On</div>
			</div>

			<!-- Table Body-->
			<div class="rhc-table-row" ng-repeat="record in lvm.alcoholLevelRecords">

				<div class="rhc-table-cell" ng-bind="record.deviceSerialNumber"></div>
				<div class="rhc-table-cell"  ng-bind-html="record.alocholLevelData | trust"></div>
				<div class="rhc-table-cell">{{record.createdOn | date :"short"}}</div>
				
			</div>
		</div>

    </div>
</div>